<div class="container">
    <input placeholder="enter text here" #input>
    <button class="btn btn-primary mt-2" (click)="onClick(input.value)">search</button>
    <hr>
    <div *ngIf="flag">
    <p >Selected Product is:</p>
    <p>{{selectedProductFromParent}}</p>
</div>
</div>