<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a>LTI</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/" routerLinkActive="active">Home</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link active" href="/todo">Todo</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/todo" routerLinkActive="active">Todo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/view-encaps" routerLinkActive="active">view-encaps</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cpc" routerLinkActive="active">child-parent</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/departments" routerLinkActive="active">Department</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/emptemplatefrom" routerLinkActive="active">Employee Form</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/signup" routerLinkActive="active" >Signup-Reactive form</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"  (click)="login()">login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLinkActive="active" (click)="logout()" >logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/angular-material" routerLinkActive="active" >Angualr-material Demo</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>