<p>pipe-demo works!</p>
<h4>Uppercase pipe Demo</h4>
<p>{{name | uppercase }}</p>
<h4>Lowercase pipe Demo</h4>
<p>{{name | lowercase }}</p>
<h4>titlecase pipe Demo</h4>
<p>{{tital | titlecase }}</p>
<h4>currency demo</h4>
<p>{{curr | currency}}</p>
<p>{{curr | currency: 'INR'}}</p>
<p>{{curr | currency :'INR':'code'}}</p>
<p>{{curr | currency :'INR':'code':'3.1-1'}}</p>
<h4>Decimal demo</h4>
<p>{{curr | number:'3.1-1'}}</p>
<h4>JSON pipe</h4>
<p>{{object | json}}</p>
<h4>Date demo</h4>
<p>{{date | date}}</p>
<p>{{date | date:'short'}}</p>

<p>{{date | date:'long'}}</p>

<p>{{date | date:'medium'}}</p>

<p>{{date | date:'dd/MM/yyyy'}}</p>

<H4>Slice demo</H4>
<p>{{name | slice :0:2}}</p>
<h4>Percentage demo</h4>
<p>{{per | percent}}</p>
<p>{{per2 | percent:'5.2-3'}}</p>



