<div class="container">
    <form (ngSubmit)="onSubmitForm(form)" #form="ngForm">
        <div class="form-group">
            <label for="name"> Enter your name:</label>
            <input type="text" ngModel name="name" #name="ngModel" required pattern="[a-zA-Z]*" minlength="5" maxlength="20" class="form-control">
            <span *ngIf="name.hasError('required')  && name.touched" class="redcolor"><i>Name is required</i></span>
            <span *ngIf="name.hasError('minlength') && name.touched && !name.hasError('pattern')" class="redcolor"><i>Name length must be between 5 to 20 character only</i> </span>
            <span *ngIf="name.hasError('pattern')" class="redcolor"><i>Name field allow only alphabets</i></span>
            
        </div>
        <div class="form-group">
            <label for="name">Enter your email:</label>
            <input type="text" ngModel required email #email="ngModel" name="email" class="form-control">
            <span *ngIf="email.hasError('required')  && email.touched" class="redcolor"><i>Email is required</i></span>
            <span *ngIf="email.hasError('email')" class="redcolor"><i>Email is Invalid</i></span>
        </div>
        <div class="form-group">
            <label for="name"> Enter your salary:</label>
            <input type="text" required #salary="ngModel" pattern="[0-9]*" ngModel name="salary" class="form-control">
            <span *ngIf="salary.hasError('required')  && salary.touched" class="redcolor"><i>Salary is required</i></span>
            <span *ngIf="salary.hasError('pattern')  && salary.touched" class="redcolor"><i>Salary allow  only number(i.e:0-9)</i></span>
        </div>
        <div class="form-group">
            <label for="name"> Enter your contact:</label>
            <input type="text" required #contact="ngModel" pattern="[0-9]*" ngModel name="contact" class="form-control" maxlength="10" minlength="10">
            <span *ngIf="contact.hasError('required')  && contact.touched" class="redcolor"><i>Contact is required</i></span>
            <span *ngIf="contact.hasError('pattern')  && contact.touched" class="redcolor"><i>Contact allowded enter number between(0-9)</i></span>
            <span *ngIf="contact.hasError('minlength')  && contact.dirty && !contact.hasError('pattern')" class="redcolor"><i>Contact minimum length mus be 10 digit(e.g.9130271731)</i></span>
        </div>
        <div class="form-group">
            <label for="name"> Enter your Hobbies:</label>
            <input type="text" ngModel name="hobbies" class="form-control">
        </div>
        <button type="submit" class="form-control btn btn-primary mt-3" [disabled]="form.status=='INVALID'">Submit</button>
    </form>

</div>