<h2>String interpolation</h2>
<p>{{num}}</p>
<h2>Method or event binding</h2>
<button (click)="onButtonClick()">CLICK ME</button>
<br>
<h2>property binding</h2>
<input type="text" value="{{num}}" [disabled]="bool">
<hr>
<h2>Addition using two way binding</h2>
<input type="number" [(ngModel)]="num1">
<input type="number" [(ngModel)]="num2">
<button (click)="onAdditionClick()">Add</button>
<h2>Sume is:{{sum}}</h2>

<h2>Template or reference binding demo</h2>
<input type="number" #input1>
<input type="number"#input2>
<button class="btn" (click)="addUsingTemplateBinding(input1.value,input2.value)">Add</button>
<h1>sum is:{{sum}}</h1>

<input type="text" #template (keyup)="0">
<h2>{{template.value}}</h2>
<br><br>
