<p>angularmaterial works!</p>
<div class="container">
<h4>Slider</h4>
<mat-slider min="1" max="100" step="5" thumbLabel></mat-slider>

<h4>progress spinner</h4>
<mat-spinner mode="indeterminate"></mat-spinner>
</div>

<!-- <h4>Datepicker</h4>
<input matInput [matDatepicker]="picker">
<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
<mat-datepicker #picker></mat-datepicker> -->
<h4>chip demo</h4>
<mat-chip-list aria-label="Fish selection">
    <mat-chip>One fish</mat-chip>
    <mat-chip>Two fish</mat-chip>
    <mat-chip color="primary" selected>Primary fish</mat-chip>
    <mat-chip color="accent" selected>Accent fish</mat-chip>
  </mat-chip-list>
  
