<p>forloop-demo works!</p>
<h2>Index Demo</h2>
<div class="container">
<table class="table table-bordered">
    <thead>
        <tr>
            <th>index</th>
            <th>id</th>
            <th>name</th>
            <th>department</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of empArray;index as i">
            <td>{{i}}</td>
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.department}}</td>
        </tr>
    </tbody>
</table>
</div>

<!--Reverse demo-->
<h2>Reverse Demo</h2>
<div class="container">
<table class="table table-bordered">
    <thead>
        <tr>
            <th>index</th>
            <th>id</th>
            <th>name</th>
            <th>department</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of empArray.reverse();index as i">
            <td>{{i}}</td>
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.department}}</td>
        </tr>
    </tbody>
</table>
</div>

<!--First Last demo-->
<h2>First Last demo</h2>
<div class="container">
<table class="table table-bordered">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>department</th>
            <th>first</th>
            <th>last</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of empArray;index as i; first as f;last as l" [ngClass]="{'bg-primary': f,'bg-danger':l}">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.department}}</td>
            <td>{{f}}</td>
            <td>{{l}}</td>
        </tr>
    </tbody>
</table>
</div>

<!--odd even demo-->
<h2>odd even Demo</h2>
<div class="container">
<table class="table table-bordered">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>department</th>
            <th>odd</th>
            <th>even</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of empArray;index as i; let e=even ;odd as o" [ngClass]="{'bg-secondary': e,'bg-warning':o}">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.department}}</td>
            <td>{{o}}</td>
            <td>{{e}}</td>
        </tr>
    </tbody>
</table>
</div>

<!--Nested for loop demo-->
<h2>Nested for loop demo</h2>
<div class="container">
    <ul>
        <li *ngFor="let item of groupArray">
            {{item.group}}
            <ul>
                <li *ngFor="let item1 of item.hotels">
                    {{item1.name}}
                </li>
            </ul>
        </li>
    </ul>
</div>



<!--Switch case demo-->
<div class="container">
    <select name="" id="" class="form-control col-md-2" [(ngModel)]="selctedValue">
        <option *ngFor="let item of items" [value]="item.name">{{item.name}}</option>
    </select>

    <div [ngSwitch]="selctedValue">
            <div *ngSwitchCase="'One'">
                <span>One is selected</span>
            </div>
            <div *ngSwitchCase="'Two'">
                <span>Two is selected</span>
            </div>
            <div *ngSwitchCase="'Three'">
                <span>Three is selected</span>
            </div>
            <div *ngSwitchDefault>
                <span>Default option</span>
            </div>
            
        </div>
    </div>
<br><br><br><br><br>