
<div class="container mt-3">
    <div class="row">
        <h4>Edit form</h4>
        <form (ngSubmit)="onEditSubmit()" [formGroup]="editForm">
            <div class="form-group width">
                <input type="text" formControlName="id" class="form-control" readonly>
            </div>
            <div class="form-group mt-2 width">
                <input type="text" formControlName="title" class="form-control">
            </div>
            <div class="form-group width">
                <select formControlName="status" class="form-control mt-2">
                <option class="dropdown-item" *ngFor="let item of statuses" [value]="item.name" >{{item.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-primary mt-3 width">Edit</button>
            </div>

        </form>

    </div>

</div>
