<!-- <h1>Hello from app component</h1> -->
<!-- <app-demo></app-demo> -->
  <!--<app-todo></app-todo> -->
<!-- <app-forloop-demo></app-forloop-demo> -->
<!--<app-customdirectivedemo></app-customdirectivedemo>-->
<!-- <app-pipe-demo></app-pipe-demo> -->
 <!-- <app-practice></app-practice>  -->
 <!-- <app-view-encaps-parents></app-view-encaps-parents> -->
 <!-- <app-cpc-parent></app-cpc-parent> -->
 <app-header></app-header>
 <router-outlet></router-outlet>
 <lib-ng-toast></lib-ng-toast>

