<div class="container">
    <div class="row">
        <ul>
            Department List:
            <li *ngFor="let item of depArray" [ngClass]="{bgcolor: item.depId==selectedId}">
                {{item.depId}}
                <button class="btn" (click)="onDepClick(item)">{{item.depName}}</button>
            </li>
        </ul>

    </div>

</div>