<div class="container">
    <span class="text-danger font">All the fields with(*) are mandatory</span>
    <form [formGroup]="signupForm" (ngSubmit)="onSignUp()">
        <div class="form-group">
            <label for="username">Username:<span class="text-danger">(*)</span></label>
            <div>
                <input formControlName="username" type="text" class="form-control width mt-2"
                    placeholder="Enter usename">
                <span *ngIf="signupForm.get('username').hasError('required') && getUsername().dirty"
                    class="text-danger font">Username is required.</span>
                <span *ngIf="getUsername().hasError('minlength') && getUsername().dirty"
                    class="text-danger font">Username should be greate than 4 character.</span>
                <span *ngIf="getUsername().hasError('usernameNotAllowdwd') && getUsername().dirty"
                    class="text-danger font">Username not allowded(Angular,Hello,User)</span>
            </div>
        </div>
        <div class="form_group">
            <div class="controls">
                <input type="radio" (click)="onEmailClick()" value="email" class="form-check-input"
                    formControlName="userNotification">email
                <input type="radio" (click)="onPhoneClick()" value="phone" class="form-check-input"
                    formControlName="userNotification">phone
            </div>
        </div>
        <div class="form-group mt-2">
            <label for="email">Email:<span *ngIf="emailMandatory" class="text-danger">(*)</span></label>
            <div>
                <input formControlName="email" type="text" class="form-control width mt-2" placeholder="Enter email">
                <span *ngIf="getEmail().hasError('required') && getEmail().touched" class="text-danger font">Email is
                    required.</span>
                <span *ngIf="getEmail().hasError('email') && getEmail().dirty" class="text-danger font">Email is
                    Invalid.</span>
            </div>
        </div>
        <!--Bindind nested password from group to main form-->
        <div formGroupName="passwordForm" class="form-row">
            <div class="form-group mt-2">
                <label for="password">Password:<span class="text-danger">(*)</span></label>
                <div>
                    <input formControlName="password" type="password" class="form-control width mt-2"
                        placeholder="Enter password">
                    <span *ngIf="getPassword().hasError('required') && getPassword().touched"
                        class="text-danger font">Password is required.</span>
                </div>
            </div>
            <div class="form-group mt-2">
                <label for="confirm_password">Confirm Password:<span class="text-danger">(*)</span></label>
                <div>
                    <input formControlName="confirmPassword" type="password" class="form-control width mt-2"
                        placeholder="confirm password">
                    <span *ngIf="getConfirmPassword().hasError('required') && getConfirmPassword().touched"
                        class="text-danger font">Confirm Password is required.</span>
                </div>
            </div>
            <!-- Displaying password not matched error -->
            <span *ngIf="getPasswordFormGroup().hasError('confirmPasswordValidator') && getConfirmPassword().dirty"
                class="text-danger font">Password not matched.</span>
        </div>
        <!-- phone binding -->
        <div class="form-group mt-2">
            <label for="phone">Phone:<span *ngIf="phoneMandatory" class="text-danger">(*)</span></label>
            <div>
                <input formControlName="phone" type="text" class="form-control width mt-2"
                    placeholder="Enter phone number">
                <span *ngIf="getPhone().hasError('required') && getPhone().touched" class="text-danger font">Phone is
                    required.</span>
                <!--
            <span *ngIf="getUsername().hasError('minlength') && getUsername().dirty" class="text-danger font">Username should be greate than 4 character.</span>
            <span *ngIf="getUsername().hasError('usernameNotAllowdwd') && getUsername().dirty" class="text-danger font">Username not allowded(Angular,Hello,User)</span> -->
            </div>
        </div>
        <!-- binding date from group -->
        <div formGroupName="dateForm" class="form-row">
            <div class="form-group">
                <label for="start_date" class="mt-2">Employment Start Date: <span class="text-danger">(*)</span></label>
              <div class="">
                <input type="date" formControlName="startDate" class="form-control width mt-2">
                <span *ngIf="getStartDate().hasError('required') && getStartDate().touched" class="text-danger font">Date selection is mandatory</span>
                <span *ngIf="getStartDate().hasError('FututerStartDateSelectionNotAllowed') && getStartDate().dirty" class="text-danger font">Future date selection not allowded</span>
              </div>
            </div>
            <div class="form-group">
                <label for="end_date" class="mt-2">Employment end Date: <span class="text-danger">(*)</span></label>
              <div>
                <input type="date" formControlName="endDate" max="current" class="form-control width mt-2">
                <span *ngIf="getEndDate().hasError('required') && getEndDate().touched" class="text-danger font">Date selection is mandatory</span>
                <span *ngIf="getEndDate().hasError('FututerStartDateSelectionNotAllowed') && getEndDate().dirty" class="text-danger font">Future date selection not allowded</span>
              </div>
            </div>
            <span *ngIf="getdateForm().hasError('InvalidDateSelection') && getEndDate().dirty" class="text-danger font">Invalid end date selection</span>

        </div>

        <!-- Hobbies binding -->
        <div class="form-group">
            <div>
                <label for="hobby" class="mt-2">Hobbies: <span class=""></span></label>
            </div>
            <button type="button" class="btn btn-info sm mt-2 mb-2" (click)="onAddHobby()"
                [disabled]="disableAddHobby">Add Hobby</button>
            <div class="from-array" formArrayName="userHobbies" *ngFor="let item of getHobbies(); let i=index">
                <input type="text" [formControlName]="i" class="form-control width">
                <button class="btn btn-danger sm mb-2 mt-1" (click)="onRemoveHobby(i)">Remove</button>
            </div>
        </div>
        <div class="form-group">
            <div>
                <button type="submit" class="btn btn-primary mt-2 width" [disabled]="signupForm.invalid">Submit</button>
                <!-- [disabled]="signupForm.invalid" -->
            </div>
        </div>
    </form>
</div>
<br><br><br><br>
