<p appCustom [c]="'green'">This is demo text</p>
<p appCustom [c]="'blue'">This is demo text</p>
<p appCustom [c]="'violet'">This is demo text</p>
<p appCustom [c]="'purple'">This is demo text</p>
<p appCustom [c]="'orange'">This is demo text</p>


<input appCreditcard>