<h1>For Loop Demo</h1>

<!-- <Ul>
    <li *ngFor="let item of nameArray">
        {{item}}
    </li>
</Ul>

<Ul>
    <li *ngFor="let item of numberArray">
        {{item}}
    </li>
</Ul> -->
<style>
    .demo {
        text-align: center;
    }

    .productheadbackground {
        background-color: antiquewhite;
    }

    .employeeheadbackground {
        background-color: blueviolet;
    }

    .btn-group {
        margin-right: 0.5rem;
    }

    .pending {
        color: red;
    }

    .done {
        color: green;
    }
</style>
<body>
<router-outlet></router-outlet>
<h2>Todo:</h2>
<div class="container">
    <table class="table table-bordered">
        <thead class="productheadbackground">
            <tr class="demo">
                <th scope="col">#</th>
                <th scope="col">title</th>
                <th scope="col">status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of arrtodo" [ngClass]="{
          'table-danger': item.status == 'Pending',
          'table-success': item.status == 'Done'
        }" class="demo">
                <td>{{ item.id }}</td>
                <td>{{ item.title }}</td>
                <!-- <td *ngIf="item.status=='Pending'"><span class="pending">{{item.status}}</span></td>
        <td *ngIf="item.status=='Done'"><span class="done">{{item.status}}</span></td> -->
                <td>{{ item.status }}</td>
                <td>
                    <!-- <div class="btn-group">
                        <button type="button" (click)="onEditToDoTask(item)" class="btn btn-success btn-sm btn-block">
                            Edit
                        </button>
                    </div> -->

             <!--==========================Edit Task Code========================================-->

                     <!-- Button trigger modal -->
                     <button type="button" class="btn btn-primary btn-sm btn-block btn-group" (click)="onEdit(item)" data-bs-toggle="" data-bs-target="">
                        Edit
                      </button>
                      
                      <!-- Modal is removed due to created diffrent edit component -->
                      <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModal1Label" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModal1Label">Add Your Task</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <input type="text" [(ngModel)]="id" class="form-control" disabled #input1>
                              <input type="text"  [(ngModel)]="task" class="form-control mt-2" #input2>
                              <input type="text"  [(ngModel)]="stsatus" class="form-control mt-2" #input3>
                            </div>
                            <div class="modal-footer">
                              <button type="button"  class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary" (click)="onEditToDoTask()"  data-bs-dismiss="modal">Edit Task</button>
                            </div>
                          </div>
                        </div>
                      </div>
                                        <button type="button" (click)="onDeleteToDoTask(item)" class="btn btn-danger btn-sm btn-group mr-5">
                                            Delete
                                        </button>
                                    </td>
                                </tr>

                     <!--==========================Add Task Code========================================-->

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Add ToDo Task
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add Your Task</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <input type="text" [(ngModel)]="taskName" class="form-control"
                                placeholder="enter task name" />
                            <!-- <input type="text" [(ngModel)]="taskStatus" class="form-control mt-2"
                                placeholder="enter task Status" />  -->

                                <select name="" id=""  [(ngModel)]="selectedStatus" class="form-control mt-2">

                                    <option class="dropdown-item" *ngFor="let item of statuses" [value]="item.name" >{{item.name}}</option>
                                </select>
                                
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                Close
                            </button>
                            <button type="button" class="btn btn-primary" (click)="onAddToDoTask()"
                                data-bs-dismiss="modal">
                                Add Task
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </tbody>
    </table>
</div>
</body>

<!-- <button data-bs-target="#temp">click me</button>

<div *ngFor="let item of list" id="temp">
    <ul>
        <li>
            {{item}}
        </li>
    </ul>
</div>

<input type="text" [(ngModel)]="num">
<button (click)="onclick()">submit</button>

<div *ngIf="flag; then thenBlock"></div>
<ng-template #thenBlock>
    <div *ngFor="let item of numArray" id="temp">
        <ul>
            <li>
                {{num}}*{{item}}={{num*item}}
            </li>
        </ul>
    </div>
</ng-template> -->