<div class="container">
<div class="row">

    <div class="col-md-3">child Sidebar
        <app-cpc-child [selectedProductFromParent]="selectedProduct" [flag]="flag" (myEvent)="eventEmittedFromChild($event)"></app-cpc-child>
    </div>
    <div class="col-md-9">parent Content Ares
        <div class="row mt-2" *ngFor="let item of productArray">
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="..." alt="...">
                <div class="caption">
                  <h3>{{item.product_id}}</h3>
                  <p>{{item.product_name}}</p>
                  <button class="btn btn-secondary" (click)="onSelect(item)">select</button>
                </div>
              </div>
            </div>
          </div>
    </div>

</div>
</div>