<h2>You have selected Department with Id:{{selectedDepartment}}</h2>
<div class="container mt-3">
    <div class="row">
        <button class="btn btn-success col-md-3" (click)="onOverview()">Overview</button>
        <button class="btn btn-warning col-md-3" (click)="onContact()">Contact</button>

    </div>

</div>
<router-outlet></router-outlet>
<div class="container">
    <div class="row">
<button *ngIf="selectedDepartment > 1" class="btn btn-primary col-md-3" (click)="onPrevious()">previous</button>
<button class="btn btn-secondary col-md-3" (click)="onNext()">Next</button>
<button class="btn btn-danger col-md-3" (click)="onBack()">Back</button>
</div>
</div>

